@import "__image_functions";

@mixin mask-image-set($content...) {
    -webkit-mask-image: -webkit-image-set($content);
}

@mixin elements-hover-dom-tree() {
    outline: 1px solid #363636 !important;
    //background-color: rgba(0, 0, 0, 0.1);
}

@mixin image-content($url) {
    $_hack: image-store(display, inline-block),
            image-store(width, image_width($url) !important),
            image-store(height, image_height($url) !important),
            image-store(content-empty),
            image-store(background, $url);
}

@mixin image-bg($url) {
    $_hack: image-store(background, $url);
}

@mixin root-wrap($class) {
    @at-root {
        #{$class} #{&} {
            @content;
        }
    }
}

@mixin feel-free {
    @at-root {
        @content;
        #{&} {
            @content;
        }
    }
}

@mixin shadow {
    ::shadow {
        @include feel-free {
            @content;
        }
    }
}