$veryImportant: !important !important;

$Images_toolbarButtonGlyphs: url(Images/toolbarButtonGlyphs.png);
$Images_paneAddButtons: url(Images/paneAddButtons.png);
$Images_paneRefreshButtons: url(Images/paneRefreshButtons.png);
$Images_paneSettingsButtons: url(Images/paneSettingsButtons.png);
$Images_paneElementStateButtons: url(Images/paneElementStateButtons.png);
$Images_paneAnimationsButtons: url(Images/paneAnimationsButtons.png);
$Images_navigationControls: url(Images/navigationControls.png);
$Images_navigationControls_2x: url(Images/navigationControls_2x.png);

@mixin mask-image-set($content...) {
    -webkit-mask-image: -webkit-image-set($content);
}

@mixin elements-hover-dom-tree() {
    outline: 1px solid #363636 !important;
    //background-color: rgba(0, 0, 0, 0.1);
}

$color: #ccc;

$selection-fg: #214283;
$selection-color: #e6e6e6;
$selection-border-color: #56795e;
$selection-border-color: #214283;

$hover-fg: #2f2f2f;
$hover-color: #ccc;


$fg: #3C3F41;
$fg-hovered: #353739;
$fg-selected: #2d2f30;
$fg-dark: #2B2B2B;
$fg-darkness: #313335;
$fg-current-line: #323232;

$border-color: #555555;
$border-color-lite: #555555;
$border-color-dark: #555555;

$search-fg: #425f44;
$search-fg-selected: #214283;
$search-border: #56ac48;
$search-border-selected: #bbbbbb;

$selected-icon-color: #6CBCE8;
$pseudo-element-color: #a6371a;