@import "__variables";

:host-context(.platform-linux) .monospace,
:host-context(.platform-linux) .source-code,
.platform-linux .monospace,
.platform-linux .source-code {
    font-family: "DejaVu Sans mono", "dejavu sans mono", monospace, "Lucida Grande", sans-serif !important;
}

.CodeMirror .CodeMirror-activeline-background {
    background-color: $fg-current-line!important;
}

.CodeMirror-gutter-elt,
.CodeMirror-linenumber.CodeMirror-gutter-elt {
    color: #888 !important;
    font-family: "DejaVu Sans mono", "dejavu sans mono", monospace, "Lucida Grande", sans-serif !important;
}

.CodeMirror-gutters {
    //background: #2c2c2c !important;
    background: $fg-darkness !important;
    border-right: 1px solid $border-color-lite !important;
    padding-right: 1px !important;
}


::shadow .CodeMirror-cursor,
.CodeMirror-cursor {
    border-left: 1px solid #fff !important
}

.CodeMirror-selected,
span.CodeMirror-selectedtext {
    //background: #3c3c3c !important;
    background: $selection-fg !important;
}

.CodeMirror-code .CodeMirror-matchingbracket {
    background-color: #3b514d!important;
    color: #ffef35 !important;
    text-shadow: none !important;
    border-bottom: none !important;
    font-weight: 800 !important
}

.CodeMirror-code .CodeMirror-nonmatchingbracket {
    background-color: #3b514d!important;
    color: #db0404 !important;
    text-shadow: none !important;
    border-bottom: none !important;
    font-weight: 800 !important
}


.cm-highlight *:not(.CodeMirror-linenumber) {
    color: #e6e6e6 !important
}


.CodeMirror-linenumber {
    border-right: none !important
}

#network-views .CodeMirror-lines,
.CodeMirror-lines {
    background-color: $fg-dark!important;
}

::shadow .CodeMirror-code,
.CodeMirror-code {
    color: #ccc
}
.cm-breakpoint .CodeMirror-gutter-elt {
    color: #000 !important;
    font-weight: 700 !important
}

.panel.elements #elements-content .CodeMirror {
    outline: none !important
}
//body .CodeMirror .CodeMirror-selectedtext:not(.CodeMirror-persist-highlight) {
//    color: #ccc !important
//}
.CodeMirror .webkit-html-message-bubble {
    color: #111 !important;
    border-radius: 2px !important;
    padding: 2px !important
}

.CodeMirror-linewidget .source-frame-breakpoint-condition {
    border: 1px solid #6f6f6f !important;
    border-radius: 4px !important;
    background-image: -webkit-linear-gradient(#505050, #363636) !important
}

.CodeMirror-linewidget .source-frame-breakpoint-condition input {
    color: #ccc !important
}

.CodeMirror-linewidget .source-frame-breakpoint-message {
    color: #89f5a2 !important
}

.CodeMirror-linewidget #source-frame-breakpoint-condition {
    background-color: #222 !important;
    border: none !important;
    height: 22px !important
}


// Search

.cm-search-highlight-start:before {
    border-color: $search-border !important;
}

.cm-search-highlight-end:before {
    border-color: $search-border !important;
}

.cm-search-highlight:before {
    border-color: $search-border !important;
    //padding: 2px !important;
}

.cm-search-highlight {
    background-color: $search-fg !important;
}

//.cm-line-with-selection .cm-column-with-selection.cm-search-highlight:before {
//    background-color: $search-border !important;
//    //border-radius: 2px !important;
//}

span.cm-token-highlight {
    background-color: $search-fg-selected !important;
    padding: 0 !important;
}

span.cm-token-highlight:before {
    border-color: $search-border-selected !important;
}

.CodeMirror {
    .cm-line-with-selection span.cm-column-with-selection {
        color: $search-border-selected !important;
        background-color: $search-fg-selected !important;
        &.cm-search-highlight:before {
            margin: 0px -1px -1px -1px !important;
            background-color: $search-border-selected !important;
            z-index: 1;
        }
    }
}