@import "__variables";


#console-messages {
    border-top: none !important
}

.console-message {
    border-bottom: none !important
}

.console-message-wrapper {
    margin: 1px 0
}

.console-status-bar {
    background: -webkit-linear-gradient(#505050,
        #363636) !important;
    box-shadow: inset 0 1px 0 #626262,
    inset 0 -1px 0 #1d1d1d;
    border-bottom: none !important
}

#console-prompt {
    color: #f1f1f1 !important;
    border-top: none !important;
    border-top: 1px solid #2f2f2f !important;
    border-bottom: 1px solid #3c3c3c !important
}

.console-user-command {
    border-top: none !important;
    border-bottom: none !important;
    width: 100% !important
}

#console-messages .console-user-command > .console-message-text {
    vertical-align: text-top !important
}

.console-adjacent-user-command-result {
    background-color: #272727 !important;
    border-top: 1px solid #2a2a2a !important;
    border-bottom: 1px solid #1d1d1d !important
}

.console-message .children li,
.console-user-command .children li {
    margin: 1px 0 !important
}

#console-messages .console-user-command > .console-message-text {
    color: #ccc !important
}

#console-messages .console-debug-level .console-message-text,
#console-messages .console-debug-level .console-message-url {
    color: #fc844c !important
}

#console-messages .console-debug-level .children div:hover * {
    color: #fc7333 !important
}

#console-messages .console-debug-level .section > .header .title {
    color: #fc844c !important
}

#console-messages .console-debug-level .bubble,
#console-messages .console-debug-level .bubble-repeat-count {
    background-color: #fc844c !important
}

#console-messages .console-log-level .console-message-text,
#console-messages .console-log-level .console-message-url {
    color: #49a6d2 !important
}

#console-messages .console-log-level .children div:hover * {
    color: #359ccd !important
}

#console-messages .console-log-level .section > .header .title {
    color: #49a6d2 !important
}

#console-messages .console-log-level .bubble,
#console-messages .console-log-level .bubble-repeat-count {
    background-color: #49a6d2 !important
}

#console-messages .console-warning-level .console-message-text,
#console-messages .console-warning-level .console-message-url {
    color: #db0 !important
}

#console-messages .console-warning-level .children div:hover * {
    color: #c4a500 !important
}

#console-messages .console-warning-level .section > .header .title {
    color: #db0 !important
}

#console-messages .console-warning-level .bubble,
#console-messages .console-warning-level .bubble-repeat-count {
    background-color: #db0 !important
}

#console-messages .console-error-level .console-message-text,
#console-messages .console-error-level .console-message-url {
    color: #ff5a5a !important
}

#console-messages .console-error-level .children div:hover * {
    color: #ff4141 !important
}

#console-messages .console-error-level .section > .header .title {
    color: #ff5a5a !important
}

#console-messages .console-error-level .bubble,
#console-messages .console-error-level .bubble-repeat-count {
    background-color: #ff5a5a !important
}

#console-messages .console-info-level .console-message-text,
#console-messages .console-info-level .console-message-url {
    color: #a277ff !important
}

#console-messages .console-info-level .children div:hover * {
    color: #915eff !important
}

#console-messages .console-info-level .section > .header .title {
    color: #a277ff !important
}

#console-messages .console-info-level .bubble,
#console-messages .console-info-level .bubble-repeat-count {
    background-color: #a277ff !important
}

#console-messages .outline-disclosure .stacktrace-entry:hover {
    background-color: #252525 !important
}

#console-messages a {
    color: #888 !important
}

#console-messages a:hover {
    color: #959595 !important
}

#console-messages .console-error-level::before {
    top: 9px !important
}

#console-messages .console-message {
    color: #ccc !important
}

.console-message .bubble {
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.8) !important
}

.console-formatted-node:hover {
    background: rgba(47, 47, 47, 0.5) !important
}

.vbox.devices {
    color: #ccc !important
}

.vbox.devices a {
    color: $glyph-active-color
}

.console-message-wrapper {
    border-bottom: none !important
}

.console-error-level {
    background-color: rgba(255, 90, 90, 0.05) !important;
    border-top: 1px solid rgba(255, 90, 90, 0.05) !important;
    border-bottom: 1px solid rgba(255, 90, 90, 0.05) !important
}

.console-error-level + .console-error-level {
    border-top: none !important
}

.console-warning-level {
    background-color: rgba(221, 187, 0, 0.05) !important;
    border-top: 1px solid rgba(221, 187, 0, 0.05) !important;
    border-bottom: 1px solid rgba(221, 187, 0, 0.05) !important
}

.console-warning-level + .console-warning-level {
    border-top: none !important
}

.console-object-preview .name {
    color: #77a8c6 !important
}

.object-value-object,
.object-value-map,
.object-value-set,
.object-value-iterator,
.object-value-generator,
.object-value-node,
.object-value-array {
    color: #7c7c7c !important
}

.object-value-number,
.object-value-boolean {
    color: $glyph-active-color !important
}

.object-value-function {
    color: #8b6ccf !important
}

.object-value-function::before {
    color: #ccc !important
}

.object-value-string {
    color: #ff8737 !important
}

.object-value-null {
    color: #7c7c7c !important
}

.object-value-number {
    color: $glyph-active-color !important
}

.object-value-calculate-value-button {
    color: #7c7c7c !important
}

.object-value-error {
    color: #ff5a5a !important
}

.object-value-regexp {
    color: #ff54e8 !important
}

::shadow .object-properties-section .name {
    color: #77a8c6 !important
}

::shadow .object-properties-section .number {
    color: $glyph-active-color !important
}

::shadow .console-object-preview .name {
    color: #77a8c6 !important
}

::shadow .object-value-object,
::shadow .object-value-map,
::shadow .object-value-set,
::shadow .object-value-iterator,
::shadow .object-value-generator,
::shadow .object-value-node,
::shadow .object-value-array {
    color: #7c7c7c !important
}

::shadow .object-value-number,
::shadow .object-value-boolean {
    color: $glyph-active-color !important
}

::shadow .object-value-function {
    color: #8b6ccf !important
}

::shadow .object-value-function::before {
    color: #ccc !important
}

::shadow .object-value-string {
    color: #ff8737 !important
}

::shadow .object-value-null {
    color: #7c7c7c !important
}

::shadow .object-value-number {
    color: $glyph-active-color !important
}

::shadow .object-value-calculate-value-button {
    color: #7c7c7c !important
}

::shadow .object-value-error {
    color: #ff5a5a !important
}

#console-messages {
    .console-message-wrapper {
        .source-code {
            ::shadow {
                .elements-disclosure ol li.parent::before,
                .elements-disclosure ol li.parent.expanded::before {
                    margin-left: -3px;
                    padding-left: 3px;
                }
            }
        }
    }
}