@import "__variables";
@import "__mixins";


.data-grid {
    border: 1px solid $fg-darkness !important;
    background-color: transparent !important;
    background-image: none !important;

    th, .data {
        background: none !important;
        border-left: 1px solid $fg !important;
    }

    .header {
        background: #444 !important;

        th {
            color: $gray !important;
        }

        .key-column,
        .value-column {
            border: none !important;
        }
    }

    td {
        border-left: 1px solid $fg-selected !important;
    }

    .data-container {
        a {
            text-decoration: none;
            color: #e3b959 !important;
        }

        tr {
            &:nth-child(even),
            &:nth-child(odd) {
                background-color: $fg-suggest-box !important;
            }

            &:not(.selected):not(.filler):not(.data-grid-filler-row):hover {
                background-color: $fg-darkness !important;
                outline: 1px solid $fg-darkness !important;

                + tr.selected {
                    outline: none!important;
                }
            }

            &.selected {
                background-color: $selection-fg !important;
                outline: 1px solid $selection-border-color !important;
                + tr:not(.selected):not(.filler):hover {
                    outline: none!important;
                }
            }

            &.data-grid-filler-row {
                &, &:hover {
                    background-color: $fg-suggest-box !important;
                }
            }

            .editing * {
                color: $gray !important;
                background-color: $fg-dark !important;
            }
        }
    }
}
