@import "compass";
@import "__variables";

.vbox > .CodeMirror {
    background-color: $fg-dark !important ;
}

.CodeMirror .CodeMirror-scroll,
.CodeMirror .CodeMirror-vscrollbar,
.CodeMirror .CodeMirror-hscrollbar {
    background-color: transparent !important;
}

::shadow {
    @include feel-free {
        ::-webkit-scrollbar,
        .CodeMirror-scrollbar-filler,
        .CodeMirror-gutter-filler {
            width: 8px !important;
            height: 8px !important;
        }
    }
}

.CodeMirror-scrollbar-filler,
::-webkit-scrollbar-button,
::-webkit-resizer,
::-webkit-scrollbar-corner {
    display: none;
}

.CodeMirror-scrollbar-filler {
    background-color: transparent!important;
}

::-webkit-scrollbar-thumb,
::shadow ::-webkit-scrollbar-thumb {
    //border-radius: 3px !important;
    border: 1px solid #555555 !important;
    @include transition(background-image ease-in-out 2s);

    $thumb-radius: 3px;

    &:horizontal {
        width: 100px;
        border-top-left-radius: $thumb-radius !important;
        border-top-right-radius: $thumb-radius !important;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        background-image: linear-gradient(to bottom, #5c5c5c 0%, #525252 100%) !important;
        &:hover {
            background-image: linear-gradient(to bottom, #6f6f6f 0%, #656565 100%) !important;
        }
    }
    &:vertical {
        height: 100px;
        border-top-left-radius: $thumb-radius !important;
        border-top-right-radius: 0 !important;
        border-bottom-left-radius: $thumb-radius !important;
        border-bottom-right-radius: 0 !important;
        background-image: linear-gradient(to right, #5c5c5c 0%, #525252 100%) !important;
        &:hover {
            background-image: linear-gradient(to right, #6f6f6f 0%, #656565 100%) !important;
        }
    }
}

.custom-popup-horizontal-scroll,
.custom-popup-vertical-scroll {
    @include feel-free {
        ::-webkit-scrollbar-track:horizontal,
        ::-webkit-scrollbar-track:vertical {
            background: transparent!important;
        }
    }
}