@import "__variables";

.panel.elements ::shadow {
    .elements-tree-outline ol.shadow-root-depth-3 {
        background-color: transparent;
    }
    .parent {
        + .children {
            border-left: 1px solid transparent !important;
            margin-left: 5px;
            padding-left: 6px;
            transition: none !important;
        }
        &.expanded {
            &.selected, &.hovered {
                + .children {
                    box-shadow: -1px 0px 0px #363636 !important;
                    border-left: 1px solid #555 !important;
                    > li:last-of-type .webkit-html-tag.close {
                        transition: opacity .5s ease-in-out .25s;
                        opacity: 0.5 !important
                    }
                }
            }
            + .children {
                > li .webkit-html-pseudo-element:first-child {
                    color: $pseudo-element-color !important
                }
            }
        }
    }
}

.child-editing ::shadow  * {
    box-shadow: none !important;
}

.editing, ::shadow .editing {
    box-shadow: none !important;
}